langchain
langchain-core
langgraph
langchain-tavily
langchain-openai
pydantic
python-dotenv


pandas
numpy
matplotlib
seaborn
plotly


transformers
torch
accelerate
huggingface_hub
tqdm
umap-learn

mlflow
scikit-learn
optuna
